#index {
    /* background-color: #DADADA; */
    background-image: url('img/hero.jpg')
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}

.alert{
    height:50px;
    width:200px;
    position:absolute;
    top:0;
}

.danger{
    color:red;
    border:2px solid red;
}

.success{
    color:green;
    border:green
}
#snacks .card{
    /* transform:scale(.5 */
    /* width:30%; */
    margin-bottom:100px;
}

#snacks .card .image{
    width:100%;
    padding-bottom:100%;
}

#cardHolder{
    padding-top:100px;
    width:100%;
    max-width:1024px;
    margin:0 auto;
}

#snacks header{
    background-image:url('img/snacks.jpg');
    background-size:100%;
    margin-bottom:20px;
}

#snacks header h2{
    font: 900 36px/200px 'Playfair Display', serif;
    padding-bottom:150px;
    color:white;
    text-align:center;
}
nav{
    position:absolute;
    width:100%;
    outline:1px solid white;
}
nav p{
    color:white;
    float:right;
    padding:10px;
}

nav p:hover{
    cursor:pointer;
    text-decoration:underline
}

.modal{
    z-index:9999;
}

.container{
    display:flex;
    flex-wrap:none;
}

.ui main{
    width:60%;

}

.ui aside{
    width:40%;
    padding:10px;
}

.modal img{
    margin-top:100px;
}

#snacks .description div, #snacks .description p{
    padding-left:10px;
}
.review{
    outline:1px solid blue;
    display:flex;
    flex-wrap:wrap;
    margin-bottom:10px;
}

.profPic{
    outline:1px dotted red;
    height:30px;
    width:30px;
    border-radius:50%;
    background-color: #00C4B4;

}
.profPic p{
    text-align:center;
    font-size:24px;
    line-height:30px;
    color:white;
    opacity:.9;
}
.reviewContent{
    outline:1px dashed green;
    padding-left:10px;
    width:calc(100% - 30px);
    
}
.reviewContent h3{
    height:30px;
    outline:1px solid purple;
    line-height: 30px;
}

/* olive = # A9D92C*/

.trash:hover, .edit:hover{
    cursor:pointer;
    transform:scale(1.1);
    color:#00CA52;
}

.trash:hover{
    color:salmon;
}

aside{
    background-color:#efefef;
}

.confirmBox{
    animation: grow .25s ease-in;
}
@keyframes grow{
    0%{transform:scale(0)}
    100%{transform:scale(1)}
}

@keyframes shrink{
    0%{transform:scale(1)}
    100%{transform:scale(0)}
}
.confirmBox .button{
    display: inline-block;
}

.bottom{
    padding:10px;
    border-top:1px solid #efefef;
    text-align:right;
}

.reviewForm label{
    display:block;
}

#last_name, #first_name{
    margin-bottom:15px;
}
.fields{justify-content: space-between}

.passwordWarning{
    color:red;
    text-align:left;
}

.hidden{
    visibility:hidden;
}
